# Node stuff
# npm packages
node_modules

# Go stuff
# Exclude locally vendored dependencies.
vendor/
# Exclude "build-time" ignore files.
.dockerignore
.gcloudignore


# Exclude git history and configuration.
.gitignore